

.item4{
    grid-column: 1 / 4;
    height:700px;
}

.item5{
    grid-column: 1 / 4;
    background:#BC6C24;
    
}

.item6{
    grid-column: 1 / 4;
    background:#BC6C24;
    padding-top:100px;
   
}

.item7{
    grid-column: 1 / 4;
    background:#BC6C24;
    padding-top:100px;
}

.item8{
    grid-column: 1 / 4;
    background:#BC6C24;
    padding-top:100px;
}

.item9{
    grid-column: 1 / 4;
    background:#BC6C24;
    padding-top:100px;
}




/* Fuentes */


@font-face{
font-family: 'poetsenone-regular';
src: url('./fonts/poetsenone-regular.ttf');
}

@font-face{
font-family: 'araboto';
src: url('./fonts/araboto-normal-400.ttf');
    
}

@font-face{
font-family: 'araboto-bold';
src: url('./fonts/araboto-bold-400.ttf');
    
}

/* Fuentes - Color y Tipo */

.titulo-blanco{
    font-family:'poetsenone-regular';
    color:white;
    font-size:60px;
    font-weight: 100;
}

.texto-blanco{
    font-family:'araboto';
    color:white;
    font-size: 28px;
    font-weight:100;
    line-height:35px;
  
}

.item5 img{
    height:560px;
    width:1030px;
   
}

.item6 img{
    height:560px;
    width:1030px;
}

.item7 img{
    height:560px;
    width:1030px;
}

.item8 img{
    height:560px;
    width:1030px;
}

.item9 img{
    height:560px;
    width:1030px;
}

/*****************************************************/
.footer{
    top: -100px;
    padding-bottom: 500p;
    position: relative;
}


.ubicacion-evento{
    position:relative;
     justify-items:center;
    padding-left:925px;
    
}

.ubicacion-evento img{
    margin-bottom:10px;
    height:68px;
    width:52px;
}

.ubicacion-evento p{
    line-height:50px;
}

.evento1{
    justify-items: center;
    
}

.evento2{
    justify-items: center;
}

.evento3{
    justify-items: center;
}

.evento4{
    justify-items: center;
}

.evento5{
    justify-items: center;
}

.evento1 h4{
    text-align: left;
    width:1100px;
    margin-top:90px;
    padding-left:50px;
    padding-bottom:50px;
}

.evento2 h4{
    text-align: left;
    width:1100px;
    margin-top:90px;
    padding-left:50px;
    padding-bottom:50px;
}

.evento3 h4{
    text-align: left;
    width:1100px;
    margin-top:90px;
    padding-left:50px;
    padding-bottom:50px;
}

.evento4 h4{
    text-align: left;
    width:1100px;
    margin-top:90px;
    padding-left:50px;
    padding-bottom:50px;
}

.evento5 h4{
    text-align: left;
    width:1100px;
    margin-top:90px;
    padding-left:50px;
    padding-bottom:50px;
}

.evento1 h1{
    padding-bottom:100px;
}

.evento2 h1{
    padding-bottom:100px;
}

.evento3 h3{
    padding-bottom:100px;
}

.evento4 h1{
    padding-bottom:100px;
}

.evento5 h1{
    padding-bottom:100px;
}


/* NUEVAS CONVECIONES */

.grid-container-eventos{
    display: grid;
    background-color: cornsilk;
    padding-top:  15%;
    position: relative;
    grid-template-columns: 0px auto 0px;
}

.eventos-examples{
    grid-column: 1 / 4;
    background:#BC6C24;
}

.eventos-examples-divtitle{
    justify-items: center;
}

.evento-title{
    font-family:'poetsenone-regular';
    color:white;
    font-size:60px;
    font-weight: 100;
}

.evento-img{

}

.evento-text{
    font-family:'araboto';
    color:white;
    font-size: 28px;
    font-weight:100;
    line-height:35px;
    text-align: left;
    width:1100px;
    margin-top:90px;
    padding-left:50px;
    padding-bottom:50px;
}