@font-face{
font-family: 'poetsenone-regular';
src: url('./fonts/poetsenone-regular.ttf');
}

@font-face{
font-family: 'araboto';
src: url('./fonts/araboto-normal-400.ttf');
    
}

@font-face{
font-family: 'araboto-bold';
src: url('./fonts/araboto-bold-400.ttf');
    
}

.item4{
    grid-column: 1 / 4;
    height:900px;
    background:#0094FF;
}

.item5{
    grid-column: 1 / 4;
    background:white;
}

.item6{
    grid-column: 1 / 4;
    background:white;
    padding-left:100px;
}

.item7{
    grid-column: 1 / 4;
    display: grid;
    border: 0px;
    background:white;
}

.item8{
    grid-column: 1 / 4;
    background:#0094FF;
    justify-content: center;
    padding-top:100px;
    
}

.item7 div{
    grid-row: 2;
    border: 0px;
}

.item7 img{
    height:860px;
}

.article1{
    justify-items:end;
    
}


.article2{
    
}

.article3{
   justify-items:end;
}

.lado-der .subtaller{
    display:inline-block;
}

.lado-izq .subtaller{
   display:inline-block;
}

.item8 img{
    height:680px;
    width:1180px;
    position:relative;
    right:10px;
}

.item8 h4{
    width:950px;
    line-height: 25px;
    font-size:26px;
    font-weight:normal;
    position:relative;
    left:100px;
    bottom:110px;
}

.item8 div{
    position:relative;
    bottom:400px;
}

.titulo-negro{
    font-family:'poetsenone-regular';
    
    
}

.titulo-blanco{
    font-family:'poetsenone-regular';
    color:white;
    font-size:60px;
    font-weight: 100;
}

.texto-negro{
    font-family:'araboto';
}

.texto-blanco{
    font-family:'araboto';
    color:white;
}

.texto-negro-bold{
    font-family:'araboto-bold';
    
}

.texto-blanco-bold{
    font-family:'araboto-bold';
    color:white;
}

.article1-contenido{
    position:relative;
    right:150px;
    bottom:500px;
}

.article2-contenido{
    position:relative;
    bottom:500px;
    width:0px;
    left:220px;
    
}

.article3-contenido{
    position:relative;
    bottom:500px;
    right:150px;
}

.article1-contenido .texto-blanco{
    font-size:25px;
    font-weight: 100;
    width:500px;
    line-height:32px;
   
    
}

.article1-contenido .texto-negro-cursiva{
    font-size:25px;
    font-weight: 100;
    width:400px;
    text-align:left;
}

.article2-contenido .texto-blanco{
    font-size:25px;
    font-weight: 100;
    width:500px;
    line-height:32px;
}

.article2-contenido .texto-negro-cursiva{
    font-size:25px;
    font-weight: 100;
    width:400px;
    text-align:justify;
}

.article3-contenido .texto-blanco{
    font-size:25px;
    font-weight: 100;
    width:500px;
    line-height:32px;
    
}

.article3-contenido .texto-negro-cursiva{
    font-size:25px;
    font-weight: 100;
    width:400px;
    text-align:left;
   
}

.texto-negro-bold{
    text-align: left;
    font-size:26px;
}

.article1-contenido .lado-izq{
    position:relative;
    right:130px;
    top:20px;
    
}

.article1-contenido .titulo-blanco{
    position:relative;
    bottom:50px;
}

.article2-contenido .lado-izq{
    position:relative;
    right:90px;
    top:90px;
    
}

.article2-contenido .titulo-blanco{
    position:relative;
    bottom:50px;
}

.article3-contenido .lado-izq{
    position:relative;
    right:100px;
    top:20px;
}

.article3-contenido .titulo-blanco{
    position:relative;
    bottom:50px;
}

.article1-contenido .lado-der{
    position:relative;
    top:100px;
    left:15px;
}

.article3-contenido .lado-der{
    position:relative;
    top:90px;
    left:15px;
}

.lado-der .texto-negro-bold{
    padding-bottom:10px;
}

.lado-izq .texto-negro-bold{
    padding-bottom:10px;
}


.article2-contenido .lado-der{
    position:relative;
    left:60px;
}

.article1-contenido .lado-der .arriba img{
    height:50px;
    position:relative;
    bottom:100px;
}

.article1-contenido .lado-der .arriba div{
    display: inline-block;
    
    
}

.article2-contenido .lado-izq .arriba img{
    height:50px;
    position:relative;
    bottom:100px;
}

.article2-contenido .lado-izq .arriba div{
    display: inline-block;
}

.article3-contenido .lado-der .arriba img{
    height:50px;
    position:relative;
    bottom:100px;
}

.article3-contenido .lado-der .arriba div{
    display: inline-block;
}

.item8 .titulo-negro{
    font-size:76px;
    font-weight: 100;
    position:relative;
    bottom:160px;
}

.item6 .titulo-negro{
    font-size:68px;
    font-weight: 100;
    text-align:left;
    padding-bottom:60px;   
}

.item6 .texto-negro{
    text-align:left;
    font-size:25px;
    font-weight:bold;
    width:840px;
    line-height:30px;
    position:relative;
    left:60px;
}

.boton4{
    color: #84341B;
    font-family:sans-serif;
    font-weight:800;
    font-size: 55px;
    text-decoration:none;
    font-stretch:extra-condensed;
    border-radius: 30px;
    border: 0px;
    background-color: #F0CB11;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 100px;
    padding-right: 100px;
    box-shadow: 1px 1px 8px 1px gray;
    margin-top:10px;
}

/* al usar padding con width, se traslada el elemento hacia la ubicacion deseada pero va perdiendo espacio el width. Al usar position relative se traslada a la ubicación deseada y se respeta el espacio. Para que no ocupe espacio el padding, aplicarlo en el .item raiz */

/* NUEVAS CONVENCIONES */

.grid-container-voluntarios{

}

.quieres{
    grid-column: 1 / 4;
    background:white;
}

.quieres-title{

}

.quieres-text{

}

.nuestrosTalleres{

}

.nuestrosTalleres-title{

}

.nuestrosTalleres-text{

}

.talleresExamples{

}

.taller-article{}

.taller-bg-derecho{}

.taller-container{}

.taller-left{}

.taller-left-title{}

.taller-text{}

.taller-right{}

.subtaller{}
