@font-face
{
font-family: 'poetsenone-regular';
src: url('./fonts/poetsenone-regular.ttf');
}

@font-face
{
font-family: 'araboto';
src: url('./fonts/araboto-normal-400.ttf');
}

@font-face
{
font-family: 'araboto-bold';
src: url('./fonts/araboto-bold-400.ttf');
}


body
{
    display: grid;
    
    grid-template-rows: 
    auto 
    auto 
    auto;
    grid-template-areas: 
    'header-grid'
    'index-main-grid'
    'footer-grid';

    background-color: cornsilk;
}

/********************************************************/
/***************CSS Slider Index*************************/

.index-header-slider-grid 
{
    display: grid;
    grid-area: grid-centrar-header;
    
    grid-template-columns: 100px auto 100px;
    grid-template-areas: 'back-arrow index-header-slider-titulo next-arrow';
    grid-column: 1/4;
    /* position: relative; */
    justify-content: space-between;
    z-index: 6;
    /* top: -500px; */
    align-items: center;
    justify-items: stretch;

}

.index-header-slider-back-arrow
{
    display: grid;
    grid-area: back-arrow;
}

.index-header-slider-titulo 
{
    display: grid;
    grid-area: index-header-slider-titulo;
    /* grid-area: grid-centrar-header; */
    /* display: grid; */
    /* grid-template-columns: 100px auto 100px; */
    /* grid-template-areas: 'back-arrow index-header-slider-titulo next-arrow'; */
    /* grid-column: 1/4; */
    
    position: relative;
    /* z-index: 6; */
    /* top: 178px; */
    align-items: end;
    justify-items: start;
    bottom: -25%;
    align-content: center;
    /* bottom: -29px;*/
}

.index-header-slider-next-arrow
{
    display: grid;
    grid-area: next-arrow;
}


/****************************************************/

.index-main-grid
{
    display: grid;
    grid-area: index-main-grid;
    
    grid-template-rows: 
    auto 
    auto 
    auto
    450px 
    auto 
    300px;
    grid-template-areas: 
    'index-nosotros-grid'
    'index-actividades-grid'
    'index-eventos-grid'
    'index-voluntarios-grid'
    'index-testimonios-grid'
    'index-ayudanos-grid';
    
    position: relative;
    text-align: center;
    
}

.index-nosotros-grid
{
    display: grid;
    grid-area: index-nosotros-grid;

    grid-template-rows: 
    auto 
    auto 
    auto;
    grid-template-areas:
    'index-nosotros-top'
    'index-nosotros-main'
    'index-nosotros-bottom';
    
    background: white;
    grid-row-gap: 100px;
}

.index-nosotros-main
{
    display: grid;
    grid-area: index-nosotros-main;

    grid-template-columns:
    auto auto;
    grid-template-areas:
    'index-nosotros-left index-nosotros-right';
        
    justify-content: center;
    grid-column-gap: 90px;
}

.index-nosotros-left
{
    display: grid;
    grid-area: index-nosotros-left;
   
    grid-template-rows: 
    auto 
    auto 
    35%;
    grid-template-areas:
    'index-nosotros-title'
    'index-nosotros-text'
    'index-verMas-btn';

    justify-content: center;
    align-content: center;
    grid-row-gap: 50px;
}

.index-nosotros-title
{
    grid-area: index-nosotros-title;

    color:black;
    font-family: 'poetsenone-regular';
    font-size: 60px;
    font-weight: 500;
}

.index-nosotros-text
{
    grid-area: index-nosotros-text;

    color:rgb(70, 70, 70);
    font-family: "calibri";
    text-align: justify;
    font-size: 22px;
    line-height: 30px;
}

.index-nosotros-img
{
    height: 450px;
    width: 468px;
}

.index-nosotros-margin-top
{
    display: grid;
    grid-area: index-nosotros-margin-top;
}

.index-nosotros-bottom
{
    display: grid;
    grid-area: index-nosotros-bottom;

    /* grid-area: index-testimonios-bottom;
    height: 100%;
    bottom: -4px;
    width: 100%;
    position: relative; */
}

 .index-nosotros-btn
{
    grid-area: index-nosotros-text;
    color: #83331b;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 26px;
    text-decoration: none;
    /* background: linear-gradient(0deg, rgba(201,157,0,1) 0%, rgba(255,213,28,1) 20%, rgba(255,236,30,1) 100%); 
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 30px;
    padding-right: 30px; */
    border-radius: 30px;
    margin-top: 10px;
    box-shadow: 0px 0px 10px #BFBCBC; 
} 

.index-actividades-grid
{
    display: grid;
    grid-area: index-actividades-grid;
    
    grid-template-rows: 
    auto 
    auto 
    auto;
    grid-template-areas: 
    'index-actividades-top' 
    'index-actividades-main' 
    'index-actividades-bottom';

    justify-items: center;
    background: #BC6D2A;
}

.index-actividades-top
{
    display: grid;
    grid-area: index-actividades-top;
}

.index-actividades-main
{
    display: grid;
    grid-area: index-actividades-main;
}

.index-actividades-Background
{
    display: grid;

    grid-template-columns:
    auto auto;
    grid-template-areas:
    'index-actividades-left index-actividades-right';

    justify-items: stretch;
    text-align: center;
    margin: 45px 70px 50px 70px;
    background-color: white;
    border-radius: 250px;    
}

.index-actividades-right
{
    display: grid;
    grid-area: index-actividades-right;

    grid-template-rows: 
    auto 
    auto;
    grid-template-areas: 
    'index-actividades-text'
    'index-verMas-btn';

    margin-right: 100px;
    margin-top: 100px;
    margin-bottom: 40px;
    align-items: end;
    justify-items: center;
}

.index-actividades-right
{
   display: grid;
}

.index-actividades-right .index-actividades-text
{
  display: grid;
}

.index-actividades-bottom
{
    display: grid;
    grid-area: index-actividades-bottom;
    grid-template-rows: 
    auto 
    auto 
    auto;
    grid-template-areas:
    'index-actividades-programa-img'
    'index-actividades-programa-text'
    'index-verMas-btn';
    grid-row-gap: 60px;
    width: 780px;
    height: 780px;
    border-radius: 50%;
    background: white;
    text-align: center;
    margin: 0px auto;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    align-content: center;
}

.index-actividades-title
{
    grid-area: index-actividades-title;

    color:white;
    font-family: 'poetsenone-regular';
    font-size: 60px;
    font-weight: 500;
}

.index-actividades-text
{
    grid-area: index-actividades-text;

    color:rgb(70, 70, 70);
    font-family: 'calibri';
    font-size: 22px;
    line-height: 30px;
    text-align: justify;
}

.index-actividades-btn
{ 
    color: #84341B;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 40px;
    text-decoration: none;
    font-stretch: extra-condensed;
    border: 0px;
    border-radius: 10px;
    background-color: #F0CB11;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 30px;
    box-shadow: 3px 3px 0px 3px #BFBCBC;
    margin-right: 50px;
}

.index-actividades-img
{
    height: 400px;
    margin: 30px;
}

.index-actividades-programa-circ
{
    grid-area: index-actividades-programa-circ;
}

/*

.index-actividades-programa-divtext{
    
    padding-left: 2%;
    padding-right: 2%;
    margin-left:80px;
    margin-right:80px;
}

*/

.index-actividades-programa-text
{
    display: grid;
    grid-area: index-actividades-programa-text;

    color:rgb(70, 70, 70);
    line-height: 30px;
    font-family: 'calibri';
    font-size: 22px;
    margin-left: 120px;
    margin-right: 120px;
}


.index-actividades-programa{
    display: grid;
    grid-area: index-actividades-programa-img;

}

.index-actividades-programa-img
{
    width: 590px;
    height: 250px;
   
}

/*

.index-actividades-programa-divimg{
    align-content:end;
    justify-content: center;
    display:grid;
    margin-top:40px;
}

.index-actividades-programa-divtext{
    align-content:center;
    justify-content: center;
    display:grid;
}

.index-actividades-programa-divbtn{
    align-content:center;
    justify-content: center;
    margin-bottom:30px;
    display:grid;
}

*/

.index-actividades-programa-btn
{
    grid-area: index-actividades-programa-btn;

    color: black;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 40px;
    text-decoration: none;
    font-stretch: extra-condensed;
    border: 0px;
    background-color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 30px;
    border: 0px;
    margin-top:10px;
    box-shadow: 3px 3px 3px 3px #BFBCBC;
}

.index-eventos-grid
{
    display: grid;
    grid-area: index-eventos-grid;
    
    grid-template-rows:
    auto 
    auto 
    auto;
    grid-template-areas: 
    'index-eventos-top' 
    'index-eventos-main' 
    'index-eventos-bottom';

    background:white;
    /* border: 1px solid black; */
    grid-row-gap: 130px;
}

.index-eventos-top
{
    display: grid;
    grid-area: index-eventos-top;
}

.index-eventos-bottom
{
    display: grid;
    grid-area: index-eventos-bottom;
}

.index-eventos-main
{
    display: grid;
    grid-area: index-eventos-main;

    grid-template-columns: auto auto;
    grid-template-areas: 'index-eventos-left index-eventos-right';

    grid-column-gap: 90px;
    justify-content: center;
    margin-left: 100px;
    background: white;
}

.index-eventos-left
{
    display: grid;
    grid-area: index-eventos-left;
    
    grid-template-rows: 
    auto 
    auto 
    auto;
    grid-template-areas:
    'index-eventos-title'
    'index-eventos-text'
    'index-verMas-btn';

    color:black;
}

.index-eventos-right
{
    display: grid;
    grid-area: index-eventos-right;

     /* grid-area: index-eventos-left; */
     /* grid-template-rows: auto auto auto; */
     /* grid-template-areas:
         'index-eventos-divtitle'
         'index-eventos-divtext'
         'index-eventos-divbtn'; */
     /* color: black; */
    margin-right: 50px;
}

.index-eventos-btn
{
    grid-area: index-eventos-btn;

    color: #84341B;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 40px;
    text-decoration: none;
    font-stretch: extra-condensed;
    border: 0px;
    border-radius: 10px;
    background-color: #F0CB11;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 30px;
    margin-top: 10px;
    box-shadow: 3px 3px 0px 3px #BFBCBC; 
}

.index-eventos-title
{
    display: grid;
    grid-area: index-eventos-title;

    font-family: 'poetsenone-regular';
    font-size: 60px;
    font-weight: 500;
    justify-content: left;
}

.index-eventos-text
{
    grid-area: index-eventos-text;
    color:rgb(70, 70, 70);
    font-family: 'calibri';
    font-size: 22px;
    text-align: justify;
    line-height: 30px;
}

.index-eventos-img
{
    height: 450px;
    width: 468px;
}

/*

.index-eventos-divtext{
   margin-right:70px;
    
}

*/

.index-voluntarios-grid
{
    display: grid;
    grid-area: index-voluntarios-grid;

    grid-template-rows: 
    auto 
    auto 
    auto;
    grid-template-areas:
    'index-voluntarios-title' 
    'index-voluntarios-text' 
    'index-verMas-btn';
    
    align-items: center;
    grid-row-gap: 0px;
    justify-items: center;
    background: #BC6D2A;
    
}


/*
.index-voluntarios-grid div{
    display: grid;
     grid-column-gap: 199px; 
     margin-right: 40px; 
     margin-left: 40px; 
    justify-content: space-around;
    justify-items: center; 
}

*/

.index-voluntarios-title
{
    display: grid;
    grid-area: index-voluntarios-title;

    color:white;
    font-family: 'poetsenone-regular';
    font-size: 60px;
    font-weight: 500;
}

/*
.index-voluntarios-title{
    display: grid;
    grid-area: 'index-voluntarios-divtitle';
    justify-content: left;
    color:white;
}*/

.index-voluntarios-text
{
    grid-area: index-voluntarios-text;

    font-family: 'calibri';
    font-size: 22px;
    width: 55%;
    text-align: center;
    color:white;
}

.index-voluntarios-btn
{
    display: grid;
    grid-area: index-voluntarios-btn;

    color: #84341B;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 40px;
    text-decoration: none;
    font-stretch: extra-condensed;
    border: 0px;
    border-radius: 10px;
    background-color: #F0CB11;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 30px;
    box-shadow: 3px 3px 0px 3px #87562D;
    margin-bottom: 10px;
}

/*

.index-voluntarios-divbtn{
    height:100px;
}

*/

.index-testimonios-grid
{
    display: grid;
    grid-area: index-testimonios-grid;

    grid-template-rows: 
    250px  
    auto 
    auto;
    grid-template-areas: 
    'index-testimonios-top' 
    'index-testimonios-main' 
    'index-testimonios-bottom';  

    background:white;
}

.index-testimonios-main
{
    display: grid;
    grid-area: index-testimonios-main;
    
    grid-template-rows: 
    auto 
    auto 
    auto;
    grid-template-areas: 
    'index-testimions-title' 
    'index-testimonios-movie' 
    'index-testimonios-articulos';
    
    grid-row-gap: 30px;
    justify-items: center;
}

/*
'index-testimonios-title' 'index-testimonios-movie' 'index-testimonios-articulos'
*/


.index-testimonios-divmovie-content
{
    display: grid;

    border-radius: 50px;
    width: 1080px;
    height: 420px;
    margin-bottom: 90px;    
}

.index-testimonios-articulos
{
    display: grid;
    grid-area: index-testimonios-articulos;

    grid-template-columns: 
    auto auto auto auto auto;
    grid-template-areas: 
    'index-testimonios-slider-left index-testimonios-art1 index-testimonios-art2 index-testimonios-art3 index-testimonios-slider-right';
}

.index-testimonios-art
{
    display: grid;

    grid-template-rows: 
    auto 
    auto;
    grid-template-areas: 
    'index-testimonios-tp' 
    'index-testimonios-com';
}

.index-testimonios-art1
{
    grid-area:index-testimonios-art1;
}

.index-testimonios-art2
{
    grid-area:index-testimonios-art2;   
}

.index-testimonios-art3
{
    grid-area:index-testimonios-art3;   
}

/* 
.index-testimonios-art4 {
    border: 1px solid black;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas:
        'index-testimonios-tp'
        'index-testimonios-com';
}  */

.index-testimonios-title
{
    font-family: 'poetsenone-regular';
    font-size: 60px;
    font-weight: 500;
}

.index-testimonios-nom
{
    font-family: 'calibri';
    color:rgb(70, 70, 70);
}

.index-testimonios-perfil
{
    font-family: 'calibri';
    color:rgb(70, 70, 70);
}

.index-testimonios-desc
{
    padding: 27px;
    text-align: justify;
    font-weight: lighter;
    font-family: "calibri";
    font-size: 20px;
    margin-bottom: 60px;
    color:rgb(40, 40, 40);
}

.index-testimonios-bottom
{
    display: grid; 
    /* grid-area: index-testimonios-bottom;
    height: 100%;
    bottom: -4px;
    width: 100%;
    position: relative; */
}

.index-ayudanos-grid
{
    display: grid;
    grid-area: index-ayudanos-grid;

    grid-template-columns: 40% 40%;
    grid-template-areas: 'index-ayudanos-left index-ayudanos-right';

    /* padding-top: 2%; */
    /* padding-bottom: 5%; */
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    background: #BC6D2A;

}

.index-ayudanos-left
{
    display: grid;
    grid-area: index-ayudanos-left;

    grid-template-rows: 
    auto 
    auto;
    grid-template-areas: 
    'index-ayudanos-title'
    'index-ayudanos-text';
    
    grid-row-gap: 25px;  
}

.index-ayudanos-title
{
    display: grid;
    grid-area: index-ayudanos-title;

    color:white;
    font-family: 'poetsenone-regular';
    font-size: 60px;
    font-weight: 500;
    justify-items: left;
}

.index-ayudanos-divtext
{
    display: grid;
    grid-area: index-ayudanos-text;
    
    width: 75%;
    align-content: center;
    justify-content: start;
}

.index-ayudanos-text
{
    justify-content: right;
    color: white;
    font-family: 'calibri';
    font-size: 22px;
    text-align: justify;  
    line-height: 30px; 
}

.index-ayudanos-right
{
    display: grid;
    grid-area: index-ayudanos-right;

    justify-content: end;
    align-items: center;
}

.index-ayudanos-btn
{
    /*display: grid; */
    /* color: #84341B; */
    /* font-family: sans-serif; */
    /* font-weight: 800; */
    /* font-size: 64px; */
    /* text-decoration: none; */
    /* font-stretch: extra-condensed;
    border-radius: 30px;
    background-color: #F0CB11;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 3px 20px 10px 3px #87562d;
    width: 300px;
    justify-self: end; */
}


/*****************************Contenedor Slider animaciones scc******************************/
/* Slideshow container */
.slideshow-container
{
    grid-column: 1 / 4;
    position: absolute;
    top: 0px;
    margin: 0px;
    z-index: 0;
    width: 100%;
    height: 100%;
}
    
/* Hide the images by default */
.mySlides 
{
    display: none;
}

    /* Hide the Titulo'images by default */
.mySlides-Titulos 
{
    display: none;
}

.mySlides img
{
    max-height: 800px;
    filter: brightness(0.4);
}

/* Next & previous buttons */
.prev, .next 
{
    cursor: pointer;
    position: relative;
    top: 30%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    z-index: 5;
    font-size: 50px;
    border-radius: 30%;
    -webkit-text-stroke: 1px beige;
}

/* Position the "next button" to the right */
.next 
{
    /* right: 40px; */
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover 
{
    background-color: #2e2e2e;
    opacity: 50%;
}

/* Caption text */
.texto-header-slider 
{
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    /* position: absolute; */
    position: relative;
    bottom: 8px;
    width: 100%;
    text-align: center;
    z-index: 5;
}

/* The dots/bullets/indicators */
/* .dot 
{
    display: inline-block;

    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    transition: background-color 0.6s ease;
} */

/* 
.active, .dot:hover 
{
    display: block;

    background-color: #717171;
} */


/* Fading animation */
.fade 
{
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade 
{
    from {opacity: .8}
    to {opacity: 1}
}

.titulo-slider-superior
{
    grid-column: 1 / 4;
    top: 170px;
    /*top: 170px;*/
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: 51px;
}

.titulo-slider-medio
{
    /* grid-column: 1 / 4; */
    /* left: 745px; */
    top: 230px;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    font-size: 50px;
}

.titulo-slider-inferior
{
    /* width: 756px; */
    /* height: 94px; */
    /* left: 606px; */
    top: 290px;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 50px;
}
/***********************************************/
  /***********************Slide Testimonios****************************************/
   
.slidesTestimonios
{
   display: none;
}

/* BORDES */

.index-nosotros-margin-top
{
   width: 100%; 
}

.index-nosotros-margin-bottom
{
   width: 100%; 
}

.index-eventos-margin-top
{
   width: 100%; 
}

.index-eventos-margin-bottom
{  
    display: grid;
    width: 100%; 
}

.index-testimonios-margin-top
{
    width: 100%;
}

.index-testimonios-margin-bottom
{
    width: 100%;    
}

.index-testimonios-slider-left
{
    grid-area: index-testimonios-slider-left;
    align-items: center;
}

.index-testimonios-slider-right
{
    grid-area: index-testimonios-slider-right;
    align-items: center;
}

.index-testimonios-art1 img
{
    width: 200px;
}

.index-testimonios-art2 img
{
    width: 200px;
}

.index-testimonios-art3 img
{
    width: 200px;
}

.index-testimonios-articulos
{
       display: grid;

       /* width: 80%; */
       align-content: center;
       justify-items: center;
       justify-content: space-around;
       margin-left: 5%;
       margin-right: 5%;
}

/* REVISAR TAMAÑOS */

.index-testimonios-slider-back-arrow
{
    width: 70%;
}

.index-testimonios-slider-next-arrow
{
    width: 70%;
}


/*BOTONES*/


.index-verMas-btn{
    display: grid;
    grid-area: index-verMas-btn;
    justify-content: center;
}

.ayudanos-donar-btn{
    display: grid;
    color: #84341B;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 64px;
    text-decoration: none;
    font-stretch: extra-condensed;
    border-radius: 30px; 
    border: 0px;
    background: linear-gradient(0deg, rgba(201,157,0,1) 0%, rgba(255,213,28,1) 20%, rgba(255,236,30,1) 100%); 
    padding-top: 20px; 
    padding-bottom: 20px; 
    box-shadow: 3px 20px 10px 3px #87562d; 
    width: 300px; 
    justify-self: end;
}

.ayudanos-donar-btn:active
{
     background: linear-gradient(0deg, rgba(201,157,0,1) 0%, rgba(255,213,28,1) 0%, rgba(255,236,30,1) 100%);
     padding-top: 18px; 
     padding-bottom: 18px; 
     width: 290px; 
     box-shadow: 1px 10px 8px 1px #87562d; 
     font-size: 58px;
}

.ayudanos-donar-btn:hover
{
    background:linear-gradient(0deg, rgba(201,157,0,0.85) 0%, rgba(255,213,28,0.85) 20%, rgba(255,236,30,0.85) 100%); 
    opacity: 0.9;
    color: #8f3e25;
}

.primary-btn
{
    display: grid;

    background: linear-gradient(0deg, rgba(201,157,0,1) 0%, rgba(255,213,28,1) 20%, rgba(255,236,30,1) 100%);
    border-radius: 30px;
    box-shadow: 0px 0px 10px #BFBCBC;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 26px;
    text-decoration: none;
    color: #83331b;
    width: 200px;
    height: 80px;
    align-items: center;

}

/* HOOVERS */
.primary-btn :hover
{
    background: linear-gradient(0deg, rgba(201,157,0,0.85) 0%, rgba(255,213,28,0.85) 20%, rgba(255,236,30,0.85) 100%); 
    color: rgb(136, 95, 0);
    border-radius: 30px; 
}

.index-verMas-btn :hover
{
    background: linear-gradient(0deg, rgba(201,157,0,0.85) 0%, rgba(255,213,28,0.85) 20%, rgba(255,236,30,0.85) 100%); 
    color: rgb(136, 95, 0);
}

.index-verMas-btn :active
{
    font-size: 25px;
    background: linear-gradient(0deg, rgba(201,157,0,1) 0%, rgba(255,213,28,1) 0%, rgba(255,236,30,1) 100%); 
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 28px;
    padding-right: 28px;
    box-shadow: 0px 0px 5px #BFBCBC;
}

.index-actividades-btn a:hover
{
    background-color: #FFFF11;
    opacity: 0.8;
    color: black;
}

.index-actividades-btn:hover
{
    background-color: #FFFF11;
    opacity: 0.8;
    color: black;
}

.index-actividades-programa-btn a:hover
{
    background-color: #FFFF11;
    opacity: 0.8;
    color: black;
}

.index-eventos-btn a:hover
{
    background-color: #FFFF11;
    opacity: 0.8;
    color: black;
}

.index-voluntarios-btn:hover
{
    background-color: #FFFF11;
    opacity: 0.8;
    color: black;
}

.index-voluntarios-btn:hover
{
    background-color: #FFFF11;
    opacity: 0.8;
    color: black;
}

