/* Fuentes */


@font-face{
font-family: 'poetsenone-regular';
src: url('./fonts/poetsenone-regular.ttf');
}

@font-face{
font-family: 'araboto';
src: url('./fonts/araboto-normal-400.ttf');
    
}

@font-face{
font-family: 'araboto-bold';
src: url('./fonts/araboto-bold-400.ttf');
    
}


/* Elementos del GRID */


.item4{
    grid-column: 1 / 4;
    height:700px;
    background:#BC6D2A;
    
}

.item5{
    grid-column: 1 / 4;
    display: grid;
    border: 0px;
    background:white;
    align-items: center;
}

.item6{
    grid-column: 1 / 4;
    display: grid;
    border: 0px;
    background:#BC6D2A;
    align-items: center;
}

.item7{
    grid-column: 1 / 4;
    background:#BC6D2A;
    display:grid;
    align-items: center;
}

.item8{
    grid-column: 1 / 4;
    display: grid;
    border: 0px;
    background:white;
  
    align-items: center;
    
}

.item9{
    grid-column: 1 / 4;
    background:#BC6D2A;
    align-items: center;
}

.item10{
    grid-column: 1 / 4;
    display: grid;
    border: 0px;
    background:white;
   
}

.item11{
    grid-column: 1 / 4;
    display: grid;
    border: 0px;
    background:#BC6D2A;
    align-items:center;
    padding-bottom:200px   
    
    
}

.article1{
    grid-column: 1;
}

.article2{
    grid-column: 2;
}

.article3{
    grid-column: 3;
}


/* Fuentes - Color y Tipo */

.titulo-negro{
    font-family:'poetsenone-regular';
    
}

.titulo-blanco{
    font-family:'poetsenone-regular';
    color:white;
}

.texto-negro{
    font-family:'araboto';
}

.texto-blanco{
    font-family:'araboto';
    color:white;
}

.texto-negro-bold{
    font-family:'araboto-bold';
    
}

.texto-blanco-bold{
    font-family:'araboto-bold';
    color:white;
}


/* Genéricos - Tamaño - Fuente */


h1{
    font-size:70px;
    position:relative;
    z-index:10;
    font-weight:100;
}

h2{
    font-size:45px;
    position:relative;
    z-index:10;
}

p{
    font-size: 30px;
    position:relative;
    z-index:10;
}

h3{
    position:relative;
    z-index:10;
    
}

h4{
   position:relative;
    z-index:10; 
}

h5{
    position:relative;
    z-index:10;
}

h6{
  position:relative;
    z-index:10;  
}

img{
    max-width:auto;
     height:100%:
}

svg{
    max-width:auto;
     height:100%:
}



/* Div + Art - Padding + Margin */



.item5 div{
    grid-row: 2;
    border: 0px;
    display:block;
    padding-top:55px;
    padding-bottom:55px;
    padding-left:1px;
    padding-right:20px;
}





.item6 div{
    grid-row: 2;
    border: 0px;
    display:block;
    padding:40px;
}

.item7 div{
    
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background:white;
     border:0px;
    
}



.item8 div{
    grid-row: 2;
    border: 0px;
    display:block;
    padding:40px;
}

.item9 div{
    border:0px;
    padding: 40px;
}




.item10 div{
    grid-column: 2;
    border: 0px;
    padding: 40px;
}

.item11 div{
    grid-row: 2;
    border: 0px;
    display:block;
    padding:40px;
    
}

.item10 article1{
    display: grid;
    grid-row: 2;
    border: 0px;
}

.item10 article2{
    grid-row: 2;
    border: 0px;
    display: grid;
}

.item10 article3{
    grid-row: 2;
    border: 0px;
    display: grid;
}


/* Titulos y Parrafos */


.item9 p{
    margin-left: 150px;
    margin-right: 150px;
}

.item7 p{
  
}


.item11 p{
   
    text-align: left;
}

.item10 article{
    justify-content: space-around;
    display: inline-block;
    border:0px;
    text-align: start;
}






/* Alineaciones y Tamaños */

.item10 h5{
    text-align: center;
}


.article1 h4{
    text-align:left;
}

.article2 h4{
    text-align:left;
}

.article3 h4{
    text-align:left;
}

.article1 h5{
    font-size:20px;
}

.article2 h5{
    font-size:20px;
}

.article3 h5{
    font-size:20px;
}


article h4{
    font-size: 22px;
}

.circulo2 p{
    text-align:center;
    font-size: 25px;
}

.lado-der1{
    align-items: center;
}

.lado-izq1{
    align-items: center;
}

.lado-der2{
    align-items: center;
}

.lado-izq2{
    align-items: center;
}

.lado-der3{
    align-items: center;
}

.lado-izq3{
    align-items: center;
}

.lado-der4{
    align-items: center;
}

.lado-izq4{
    align-items: center;
}




/* Varios */


.boton2-shadow1{
    
    color: #84341B;
    font-family:sans-serif;
    font-weight:bolder;
    font-size: 40px;
    text-decoration:none;
    font-stretch:extra-condensed;
    border: 0px;
    border-radius: 10px;
    background-color: #F0CB11;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 30px;
    margin-top:10px;
    box-shadow: 3px 3px 0px 3px #BFBCBC;
}

.boton2{
    
    color: #84341B;
    font-family:sans-serif;
    font-weight:bolder;
    font-size: 40px;
    text-decoration:none;
    font-stretch:extra-condensed;
    border: 0px;
    border-radius: 10px;
    background-color: #F0CB11;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 30px;
    margin-top:10px;
    box-shadow: 3px 3px 0px 3px #87562D;
}

.boton3{
    
    color: black;
    font-family:sans-serif;
    font-weight:bolder;
    font-size: 40px;
    text-decoration:none;
    font-stretch:extra-condensed;
    border: 0px;
    background-color: white;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 30px;
    border: 0px;
    margin-top:10px; 
    box-shadow: 3px 3px 3px 3px #BFBCBC;
}

.boton4{
    
    color: #84341B;
    font-family:sans-serif;
    font-weight:800;
    font-size: 64px;
    text-decoration:none;
    font-stretch:extra-condensed;
    border-radius: 30px;
    border: 0px;
    background-color: #F0CB11;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;
    box-shadow: 3px 20px 10px 3px #87562D;
    margin-top:10px;
    
}


.circulo2{
    width: 900px;
	height: 900px;
	border-radius: auto;
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
    margin:0px auto;
    padding-right:7%;
    padding-left:7%;
    padding-top:75px;
}


.item5 img{
    height:445px;
    width:445px;
}




