*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background: #08adff;
    font-family: 'Roboto', sans-serif;
    
    /* background-image: url(../img/bg-preguntas-frecuentes.png); */
    /* background-repeat: no-repeat; */
    /* background-size: 1578px 1731px; */
    /* background-position: center; */
    /* position: absolute; */
    /* width: auto; */
    /* height: auto; */
    /* left: -3px; */
    /* top: 0px;*/
}

.foto-de-fondo-ondulado-header img {
    width: 100%;
    height: 840px;
    position: absolute;
    z-index: 1;
}

.titulo-body{
    grid-column: 1 / 4;
   /* height:700px;*/
   /* background:#BC6D2A;*/
    
}

.titulo-body h1{
    /*display: flex; */
    /* padding-top: 300px; */
    color: white;
    /* background: #cb5353; */
    font-size: 100px;
    z-index: 9;
    justify-content: flex-start;
    align-content: center;
    position: absolute;
    width: 1190px;
    /* height: 298px; */
    left: 33px;
    top: 592px;
    background: rgba(40, 40, 40, 0.5);
    border-radius: 50px;
  
}

/******************************************************/
/*******************************************************/
/**************** Header ********************************/

header {
    /* grid-column: 1; */
    z-index: 9;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header1-logo {
    grid-column: 1;
    z-index: 1;
}

.circulo-header-logo {
    z-index: 8;
    width: 0px;
    height: 0px;
    position: relative;
    left: -17px;
    top: -17px;
}
.circulo-header-logo svg{
    z-index: 8;
    /* width: 0px; */
    /* height: 0px; */
    position: relative;
    /* left: -17px; */
    /* top: -17px;*/
}


.header1-logo img {
    width: 172px;
    height: 97px;
    position: relative;
    left: 20px;
    z-index: 19;
}

.header2-nav {

    grid-column: 2;
    display: flex;
    /*background: #77a789;*/
    z-index: 3;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;

}

.header2-nav ul {
    display: grid;
    margin-top: 15px;
    padding-right: 60px;

}

.header2-nav li {
    display: grid;
    grid-row: 1 / 6;
    justify-content: space-between;
    padding: 15px;

}

.header2-nav a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 24px;
    line-height: 28px;

}

.boton-donar {

    height: 50px;
    width: 121px;
    background-color: #F0CB11;
    font-size: x-large;

    border-radius: 10px;

    margin-top: -11px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.25));
    align-content: space-between;
}
/***************************************************/
/*****************FOOTER**************************/
footer{
    height: 500px;
}
.footer {
    justify-content: space-around;
    display: grid;
    grid-column: 1 / 4;
    height: 677px;
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/bg-footer.png);
    background-repeat: no-repeat;
    background-size: 100% 130%;
    /* background-size: 100% 130%; */
    /* top: 8.27px; */
    /* padding-right: 26px; */
    align-items: center;
    z-index: 1;
}

/***************************************************************/
.footer img {
    position: relative;
    z-index: 10;
}

.footer1-datos {

    grid-row: 1;
    display: block;
    padding: 54px;
    align-items: center;

}

.footer1 h5 {
    color: white;
    font-family: 'araboto';
    font-size: 16px;
}

.lado-derf {
    position: relative;
    left: 60px;

}

.lado-izqf {
    position: relative;
    top: 35px;
}

.lado-derf h5 {
    text-align: start;
}

.mapa {
    width: 368px;
    height: 253px;
    left: 127px;
    top: 597px;
    border-radius: 50px;
}

.mapa iframe {
    /* position: relative; */
    /* width: 301px; */
    height: 186px;

    left: 127px;
    top: 601px;
    border-radius: 50px;
    margin: 40px 19px 8px 0px;
}

/************************************************************/
.footer2-logo {
    grid-row: 1;
    display: flex;
    /* padding-left: 50px; */
    /* padding-top: 100px; */
    flex-direction: column;
    align-items: center;
    height: 600px;
    justify-content: space-between;
}

.footer2-logo img {
    height: 234px;
    width: 403px;
}

.footer2-logo h6 {
    color: white;
    font-family: 'araboto';
    font-size: 13px;

}

.copyright {}

/***************************************************************/
.footer3-enlaces {
    padding-right: 24px;
    grid-row: 1;
    display: block;
    padding-left: 84px;
    /* align-items: center; */
    /* padding-right: 20px; */
    padding-right: 17px;
}

.footer3-enlaces h4 {
    color: white;
    font-size: 22px;
    text-align: left;
}

.footer3-enlaces h5 {
    text-align: left;
    font-size: 15px;
    font-weight: 100;
    /* position: absolute; */
    /* width: 375px; */
    /* height: 154px; */
    /* left: 1357px; */
    /* top: 412px; */
    padding: 39px 6px 12px -13px;
}

.leer-mas {
    color: #BFD630;
    font-family: 'araboto';
    font-weight: bold;
    text-align: left;
}

.siguenos {
    color: white;
    font-family: 'araboto';
    font-weight: bold;
    width: 224px;
    height: 169px;
    left: 1357px;
    top: 681px;
}

.iconos-redes {
    display: flex;
    justify-content: space-between;
}

.iconos-redes div {
    display: flex;
    padding-left: 0px;

}

.logo-footer {
    padding-top: 200px;
}

.iconos-redes div {
    display: grid;
    grid-row: 3;
    padding-top: 30px;
}
/***********************************************************/
/**********************************************************/


.grid-container{
    display: grid;
    background-color: cornsilk;
    padding-top: 19.5px;
    position: relative; 
    
}

.grid-container div{ 
    display: grid;
    text-align:center;
    color: black; 
    
}

.grid-container article{
    display: grid;
    text-align:center;
    color: black;
    border: 1px solid black;   
}

/* Genéricos */

a{
    position:relative;
    z-index:100;  
}

p{
    position:relative;
    z-index:100;
}

h1{
    position:relative;
    z-index:100;
}

h2{
    position:relative;
    z-index:100; 
}

h3{
    position:relative;
    z-index:100;   
}

h4{
    position:relative;
    z-index:100; 
}

h5{
    position:relative;
    z-index:100;
}

h6{
    position:relative;
    z-index:100;  
}

img{ 
    max-width:auto;
    height:100%;
}

svg{ 
    /*max-width:auto;
    height:100%;*/
}
