:root {
    --primario: #e23939;
    --gris-claro: #B8B8B8;
    --sombra: 0 0 13px 0 rgba(185, 185, 185, .25);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/***************************************************************/
/*****************************Body*******************************/
/*****************************************************************/
body {
    background: #f8fafb;
    font-family: 'Roboto', sans-serif;
    /* background-image: url(../img/bg-preguntas-frecuentes.png); */
    /* background-repeat: no-repeat; */
    /* background-size: 1578px 1731px; */
    /* background-position: center; */
    /* position: absolute; */
    /* width: auto; */
    /* height: auto; */
    /* left: -3px; */
    /* top: 0px;*/
}

.foto-de-fondo-ondulado-header img {
    width: 100%;
    height: 840px;
    position: absolute;
    z-index: 1;
}

.titulo-body{
    grid-column: 1 / 4;
   /* height:700px;*/
   /* background:#BC6D2A;*/
    
}

.titulo-body h1{
    /**********/
        /* display: flex; */
    /* padding-top: 300px; */
    color: white;
    /* background: #cb5353; */
    font-size: 100px;
    z-index: 9;
    justify-content: flex-start;
    align-content: center;
    position: absolute;
    /* position: absolute; */
    width: 1190px;
    /* height: 298px; */
    left: 33px;
    top: 592px;
    background: rgba(40, 40, 40, 0.5);
    border-radius: 50px;
}
/**************No se logro que esto corra*************
.imagen-de-fondo img{
	position: fixed;
}
*/
/******************************************************/
/*******************************************************/
/**************** Header ********************************/

header {
    /* grid-column: 1; */
    z-index: 9;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header1-logo {
    grid-column: 1;
    z-index: 1;
}

.circulo-header-logo {
    z-index: 8;
    width: 0px;
    height: 0px;
    position: relative;
    left: -17px;
    top: -17px;
}

.header1-logo img {
    width: 172px;
    height: 97px;
    position: relative;
    left: 20px;
    z-index: 19;
}

.header2-nav {

    grid-column: 2;
    display: flex;
    /*background: #77a789;*/
    z-index: 3;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;

}

.header2-nav ul {
    display: grid;
    margin-top: 15px;
    padding-right: 60px;

}

.header2-nav li {
    display: grid;
    grid-row: 1 / 6;
    justify-content: space-between;
    padding: 15px;

}

.header2-nav a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;

}

.boton-donar {

    height: 50px;
    width: 121px;
    background-color: #F0CB11;
    font-size: x-large;

    border-radius: 10px;

    margin-top: -11px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.25));
    align-content: space-between;
}

/***Parte del boton donar cuando no era parte del nav*/
/*
.header3 a{
    color: #84341B;
    font-family:sans-serif;
    font-weight:bolder;
    font-size: 25px;
    text-decoration:none;
    font-stretch:extra-condensed;
    
}

.header3 p{
    border: 1px solid black;
    height: 50px;
    width: 121px;
    
    background-color: #F0CB11;
    
    font-size: x-large;
    padding: 12px;
    border-radius: 10px;
    border: 0px;
    margin-top:10px;
}
*/
/*****************************************************/
/**************************MAIN****************************/

main {
    /* position: relative;*/
    background-image: url('../img/preguntas-frecuentes/bg-preguntas-frecuentes.png');
    background-repeat: no-repeat;
    background-size: 1360px 1592px;
    /* background-position: bottom; */
    /* max-width: 1343px; */
    /* width: 100%; */
    height: 1582px;
    margin: 767px 0px -100px 0px;
    /* padding-top: 700px; */
    margin-top: 800px;
    /* position: relative;*/
}

.titulo-cuerpo {
    color: #3a3a3a;
    font-weight: 700;
    text-align: center;
    margin: 60px 0;
}

.titulo-cuerpo h1 {
    display: flex;
    padding-top: 100px;
    color: white;
    /* background: white; */
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 100px;
}

/*! =================================================*/
/*! ============= Categorias ============= */
/*! =================================================*/
.categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 60px;
    border: black;
    border-style: double;
    border-radius: 50px;
    width: 500px;
    padding: 30px;

}

.categoria {
    cursor: pointer;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
    font-weight: 700;
    color: var(--gris-claro);
    border: 2px solid transparent;
    transition: .3s ease all;
    background: #f1f1f1;
}

.categoria:hover {
    box-shadow: var(--sombra);
    color: #000;
}

.categoria:hover path {
    fill: var(--primario);
}


.categoria path {
    fill: var(--gris-claro);
    transition: .3s ease all;
}

.categoria.activa {
    border: 2px solid var(--primario);
    color: #000;
    background: #b6b5b5;
}

.categoria.activa path {
    fill: var(--primario);
}

/*! =================================================*/
/*! ============= Contenedor Preguntas ============= */
/*! =================================================*/
.contenedor-preguntas {
    display: none;
    grid-template-columns: 1fr;
    gap: 40px;
}

.contenedor-preguntas.activo {
    display: grid;
}

.contenedor-pregunta {
    background: #fff;
    padding: 40px;
    border: 2px solid transparent;
    border-radius: 10px;
    overflow: hidden;
    transition: .3s ease all;
    cursor: pointer;
}

.contenedor-pregunta:hover {
    box-shadow: var(--sombra);
}

.contenedor-pregunta.activa {
    border: 2px solid var(--primario);
}

/*! =================================================*/
/*! ============= Preguntas ============= */
/*! =================================================*/
.preguntas {
    width: 800px;
}

.pregunta {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.pregunta img {
    width: 25px;
}

.respuesta {
    color: #808080;
    line-height: 30px;
    max-height: 0;
    opacity: 0;
    transition: .3s ease all;
}

.contenedor-pregunta.activa .respuesta {
    opacity: 1;
    margin-top: 20px;
}

.contenedor-pregunta.activa img {
    transform: rotate(45deg);
}

/*! =================================================*/
/*! ============= Responsive Design ============= */
/*! =================================================*/
@media screen and (max-width: 820px) {
    .categorias {
        grid-template-columns: 1fr 1fr;
    }

    .categoria {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
    }


}

@media screen and (max-width: 500px) {
    .categorias {
        grid-template-columns: 1fr;
    }
}

/*********************************/
/***********************************/
/************************************/


/***************************************************/
/*****************FOOTER**************************/

/* .footer {
    justify-content: space-around;
    display: grid;
    grid-column: 1 / 4;
    height: 677px;
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/bg-footer.png);
    background-repeat: no-repeat;
    background-size: 100% 130%;  
    align-items: center;
    z-index: 1;
} */

/***************************************************************/
/* .footer img {
    position: relative;
    z-index: 10;
}

.footer1-datos {

    grid-row: 1;
    display: block;
    padding: 54px;
    align-items: center;

}

.footer1 h5 {
    color: white;
    font-family: 'araboto';
    font-size: 16px;
}

.lado-derf {
    position: relative;
    left: 60px;

}

.lado-izqf {
    position: relative;
    top: 35px;
}

.lado-derf h5 {
    text-align: start;
}

.mapa {
    width: 368px;
    height: 253px;
    left: 127px;
    top: 597px;
    border-radius: 50px;
}

.mapa iframe {
    height: 186px;

    left: 127px;
    top: 601px;
    border-radius: 50px;
    margin: 40px 19px 8px 0px;
} */

/************************************************************/
/* .footer2-logo {
    grid-row: 1;
    display: flex;

    flex-direction: column;
    align-items: center;
    height: 600px;
    justify-content: space-between;
}

.footer2-logo img {
    height: 234px;
    width: 403px;
}

.footer2-logo h6 {
    color: white;
    font-family: 'araboto';
    font-size: 13px;

}

.copyright {} */

/***************************************************************/
/* .footer3-enlaces {
    padding-right: 24px;
    grid-row: 1;
    display: block;
    padding-left: 84px;
    padding-right: 17px;
}

.footer3-enlaces h4 {
    color: white;
    font-size: 22px;
    text-align: left;
}

.footer3-enlaces h5 {
    text-align: left;
    font-size: 15px;
    font-weight: 100;

    width: 375px;
    left: 1357px;
    top: 412px;
    padding: 39px 6px 12px -13px;
} */

/* .leer-mas {
    color: #BFD630;
    font-family: 'araboto';
    font-weight: bold;
    text-align: left;
}

.siguenos {
    color: white;
    font-family: 'araboto';
    font-weight: bold;
    width: 224px;
    height: 169px;
    left: 1357px;
    top: 681px;
}

.iconos-redes {
    display: flex;
    justify-content: space-between;
}

.iconos-redes div {
    display: flex;
    padding-left: 0px;

}

.logo-footer {
    padding-top: 200px;
}

.iconos-redes div {
    display: grid;
    grid-row: 3;
    padding-top: 30px;
} */