* 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/***************Generico para el header entre paginas********************/

.FotoPrincipal-Header 
{
    display: grid;
    grid-column: 1 / 4;
    position: absolute;
    top: 0px;
    margin: 0px;
    z-index: 0;

}

.FotoPrincipal-Header img
{   width: 100%;
    height: 100%;
    filter: brightness(0.4);
}

.TituloPrincipal-Header  {
    grid-area: grid-centrar-header;
    display: grid;
    grid-column: 1/4;
    z-index: 1;
    align-items: end;
}

.TituloPrincipal-Header  h1 {
    display: grid;
    color: white;
    font-size: 100px;
    justify-content: flex-start;
    align-content: center;
    position: relative;
    width: 1200px;
    left: 33px;
    background: rgba(40, 40, 40, 0.5);
    border-radius: 50px;
}

/************************************/

/*******************************************************/
/*******************************************************/
/******************BODY*********************************/

body 
{
    display: grid;

    grid-template-rows: 
    auto 
    auto 
    auto;
    grid-template-areas: 
    'header-grid'
    'main-grid'
    'footer-grid';

    background-color: cornsilk;
    font-family: 'Roboto', sans-serif;
}

/************** Text **************/

/** Size **/

.p-small
{
    font-size: 16px;
}

.p-medium
{
    font-size: 22px;
}

.p-large
{
    font-size: 26px;
}

/** Color **/

.p-primary-color
{
    color:black;
}

.p-secondary-color
{
    color:white;
}

/** Alignment **/

.p-left-align
{
    text-align: left;
}

.p-center-align
{
    text-align: center;
}

.p-right-align
{
    text-align: right;
}

/************** Elements in Grid Containers **************/

/** Alignment **/

.row-align-left
{
    justify-content: left;
}

.row-align-center
{
    justify-content: center;
}

.row-align-right
{
    justify-content: right;
}

/********************************************************/
/********************************************************/
/**************** Header ********************************/

.isologo 
{
    grid-column: 1;
    z-index: 1;
    margin-right: 80px;
}

.circulo-header-logo
{
    z-index: 8;
    width: 0px;
    height: 0px;
    position: relative;
    left: -17px;
    top: -17px;
}

.circulo-header-logo svg
{
    z-index: 8;
    width: 273px; 
    height:180px; 
 
    position: relative;
    /* left: -17px; */
    /* top: -17px;*/

}

.isologo img 
{
    width: 172px;
    height: 97px;
    position: relative;
    left: 20px;
    top: 10px;
    z-index: 9;
}

.navbar 
{
    grid-column: 2;
    justify-content: center;
    width: 70%;

    /* display: flex;
    flex-direction: row;
    justify-content: flex-end;
   
    float: right;
    align-items: stretch;
    width: 100%; */
}

.navbar ul
{
    display: grid;
}

.navbar li
{
    display: grid;

    grid-row: 1 / 5;
    justify-content: center;
    /* padding-right: 22px;
    padding-left: 22px; */
    align-items: center;
    width: 120px;
}

.navbar a
{
    color: white;
    text-decoration: none;
    
    font-family: 'calibri', 'Gill Sans', 'Gill Sans MT',  'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    /* padding-right: 20px;  */
    /*background-color: rgb(10, 10, 10);*/
    /*background-color: #F0CB11;*/
    /*border-radius: 10px;*/
    /*margin-top: -11px;*/
    /*justify-content: center;*/
    /*filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.25));*/
}

.center-nav-selected a
{
    color: #7B3C00;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(219,219,219,1) 80%, rgba(93,93,93,1) 100%);  
    box-shadow: 0px 0px 5px #BFBCBC;
    border-radius: 50px;
    line-height: 25px;
    padding: 18px;
    width: 100%;
}

.selected a
{
    color: #7B3C00;
    background-color: white;
    border-radius: 50px;
    line-height: 25px;
    padding: 18px;
    width: 100%;
}

.menu .center-nav :hover
{
    background-color: white;
    background-size: 500px 29px;
    border-radius: 50px;
    padding: 18px;
    opacity: 0.8;
    color: black;
    /* text-decoration: none; */
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* font-weight: bold; */
    /* font-size: 18px; */
    /* line-height: 25px; */
    /* padding-right: 20px; */
    /* background-color: rgb(10, 10, 10); */
    /* background-color: #F0CB11; */
    /* border-radius: 10px; */
    /* margin-top: -11px; */
    /* justify-content: center; */
    /* filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.25)); */
}

.center-nav a :hover
{
    padding-right: 0px;
    padding-left: 0px;
    align-items: center;
}

.donar-btn
{
    display: grid;

    z-index: 3;
    justify-content: center;
    /* grid-column: 3; */
    margin-right: 77px;
    /* right: -9px; */
    width: auto;
}

.donar-btn li
{
    list-style: none;
}

.center-nav
{
    z-index: 1;
    border-radius: 10px;
}

.boton-donar
{
    display: grid;

    grid-row: 1;
    z-index: 1;
    justify-content: center;
    align-items: center;
    width: 120px;
}

.boton-donar a
{
    color: #7B3C00;
    text-decoration: none;
    font-family: 'calibri', 'Gill Sans', 'Gill Sans MT',  'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 26px;
    /* font-size: 26px; */
    justify-content: center;
    padding: 15px;
    background-color: #F0CB11;
    background: linear-gradient(0deg, rgba(201,157,0,1) 0%, rgba(255,213,28,1) 20%, rgba(255,236,30,1) 100%); 
    box-shadow: 0px 0px 5px #BFBCBC;
    font-size: x-large;
    border-radius: 10px;
    filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.25));
    /* width: 120px;*/
    z-index: inherit;
}

.boton-donar :hover
{ 
    background: linear-gradient(0deg, rgba(201,157,0,0.85) 0%, rgba(255,213,28,0.85) 20%, rgba(255,236,30,0.85) 100%); 
    color: rgb(136, 95, 0);

    text-decoration: none;
    font-family: 'calibri', 'Gill Sans', 'Gill Sans MT',  'Trebuchet MS', sans-serif;
    font-weight: bold;
    /* font-size: 26px; */
    justify-content: center;
    z-index: 3;
}

.boton-donar :hover
{
   background-color: #FFFF11;
}

/* NUEVO HEADER */

.header-grid
{
    /* display:grid; */
    grid-area: header-grid;

    grid-template-rows: 
    100px 
    426px 
    auto;
    grid-template-areas: 
    'grid-navbar'
    'grid-centrar-header'
    'margin-bottom';
}

.header-grid 
{
    display: grid;

    background-color: rgb(220, 117, 20);
    text-align: center;
    color: white;
    border: 1px solid black;
    /* max-height: 1008px; */
    height: fit-content;
    position: relative;
    /* grid-column: 1 / 3; */
    justify-content: space-between;
    align-items: stretch;
}

.navbar-grid 
{
    display: grid;
    grid-area: grid-navbar;
   
    grid-column: 1/4;
    grid-template-columns: auto auto auto;
    grid-template-areas: 'isologo navbar donar-btn';
    position: relative;
    top: 0px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.header-margin-bottom 
{
    display: grid;
    grid-area: margin-bottom;

    /* grid-template-columns: auto; */
    /* grid-template-areas: 'margin-bottom'; */
    position: relative;
    /* top: -352px; */
    z-index: 4;
    /* position: relative; */
    /* width: 100%; */
    grid-column: 1/4;
    z-index: 4;
    position: unset;
}

.header-margin-bottom img 
{
    display: grid;
    grid-area: margin-bottom;

    /* position: relative; */
    grid-column: 1/4;
    z-index: 4;
    position: relative;
    bottom: -1%;
    width: 100%;
}

/*******************************************************/
/*******************************************************/
/*******************FOOTER******************************/


footer 
{
    /* justify-content: space-around; */
    /* display: grid; */
    /* grid-column: 1 / 4; */
    font-family: 'calibri';
    background-color: #bc6d2a;
    /* align-items: center; */
    /* z-index: 1; */
    /* position: relative; */
    /* top: -100px;*/
}   

.footer-top-img-borde-sup
{
/* position: relative;
z-index: 0; */
width: 100%;
}


.footer-isologo 
{

    width: 350px;
}

.footer-divisologo 
{
    display: grid;
    grid-area: footer-divisologo;

    justify-content: center;
}

.footer-left 
{
    display: grid;
}

.footer-right 
{
    display: grid;
}

.footer-grid 
{
    display: grid;
    grid-area: footer-grid;

    grid-template-rows: 
    auto 
    auto 
    auto;
    grid-template-areas: 
    'footer-top' 
    'footer-center' 
    'footer-bottom';

    color: white;
    
}

.footer-top 
{
    display: grid;
    grid-area: footer-top;
    /* height: 4em; */
}

.footer-center 
{
    display: grid;
    grid-area: footer-center;

    grid-template-rows: 
    500px;

    grid-template-columns: 
    30% auto 30%;
    grid-template-areas: 
    'footer-left footer-divisologo footer-right';

    align-items: center;
    justify-content: space-between;
    grid-column-gap: 5px;
    background-color: #894A00;
}

.footer-bottom 
{
    display: grid;
    grid-area: footer-bottom;

    height: 2em;
    text-align: center;
    justify-content: space-around;
    justify-items: stretch;
    align-items: center;
    background-color: #894A00;
}

.footer-left 
{
    display: grid;
    grid-area: footer-left;

    grid-template-rows: 
    auto 
    auto;
    grid-template-areas:
    'footer-divOrgData'
    'footer-divmap';

    justify-content: space-around;
}

.footer-right 
{
    display: grid;
    grid-area: footer-right;
    
    grid-template-rows: 
    150px 
    auto;
    grid-template-areas:
    'footer-faq'
    'footer-followUs';

    justify-content: center;
}

/****************/
.footer-divOrgData 
{
    display: grid;
    grid-area: 'footer-divOrgData';

    grid-template-rows: 
    auto 
    auto 
    auto;
    grid-template-areas: 
    'direccion-footer' 
    'telefono-footer' 
    'correo-footer';

    justify-content: space-between;
    align-items: center;
    grid-row-gap: 15px;
}

.footer-divOrgData div 
{
    display: grid;

    align-items: center;
    justify-content: start;
}

.footer-divOrgData div .lado-izqf 
{
    grid-column: 1;
}

.footer-divOrgData div .lado-derf 
{
    grid-column: 2;
}

.iconos-redes 
{
    display: grid;

    grid-template-columns: auto auto;

    grid-column-gap: 25px;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
}

.footer-followUs 
{
    display: grid;

    color: white;
    /* width: 220px; */
    /* height: 160px; */
    /* padding-top: 70px; */
    justify-content: start;
    grid-row-gap: 25px;
}

/* .siguenos {
    color: white;
    font-family: 'araboto';
    font-weight: bold;
    font-size: 18px;
    width: 220px;
    height: 160px;
    padding-top: 70px;
}*/

/* .footer-followUs div {
    padding-right: 40px;
    display: grid;
    justify-content: start;
    align-items: stretch;
} */

.iconos-redes div 
{
    display: grid;
    
    /* padding-right: 40px; */
    justify-content: space-between;
    align-items: stretch;
}

/*
.iconos-redes div {
   
    padding-right: 40px;
}*/

.iconos-redes img 
{
    width: 55px;
    height: 55px;
}

.fb-icon :hover
{
    background-color: #0007c6;
    border-radius: 10px;
}

.instagram-icon :hover
{
    background-color: #a300b2;
    border-radius: 10px;
}

/* .logo-footer {
    padding-top: 175px;
} */

.footer-faq 
{
    text-align: justify;
    line-height: 20px;
}

.leer-mas 
{
    text-decoration: none;
    color: #BDFF00;
    font-size: 18px;
    font-weight: bolder;
}

.direccion-footer 
{
    display: grid;
    grid-area: direccion-footer;
    
    grid-template-columns: 
    auto auto;
    grid-template-areas: 
    'direccion-lado-izqf direccion-lado-derf';

    grid-column-gap: 30px;
}

.telefono-footer 
{
    display: grid;
    grid-area: telefono-footer;
    
    grid-template-columns: auto auto;
    grid-template-areas: 'telefono-lado-izqf telefono-lado-derf';

    grid-column-gap: 30px;
}

.correo-footer 
{
    display: grid;
    grid-area: correo-footer;
    
    grid-template-columns: auto auto;
    grid-template-areas: 'correo-lado-izqf correo-lado-derf';

    grid-column-gap: 30px;
}

.footer-divmap 
{
    /* width: 368px; */
    /* height: 253px; */
    /* left: 127px; */
    /* top: 597px; */
    /* border-radius: 45px;*/
}

.footer-divmap iframe 
{
    /* position: relative; */
    width: 301px;
    height: 186px;
    /* left: 127px; */
    /* top: 601px; */
    border-radius: 45px;
    margin: 16px 0px 0px 0px;
}

/* HOOVER */